/* Universal selector */
* {
	color: #15b95f;
}

/* Type selector */
ol {
	font-style: italic;
}

/* Attribute selector */
a[href] {
	color: #b915ab;
}

/* ID selector */
section#skills {
	font-weight: bold;
}
