/* Universal selector */
* {
	color: #15b95f;

	/* Box model */
	box-sizing: border-box;
}

/* Type selector */
ol {
	font-style: italic;
}

/* Attribute selector */
a[href] {
	color: #b915ab;
}

/* ID selector */
section#skills {
	font-weight: bold;
}

/* Class selector */
.resume-list {
	text-transform: lowercase;
}

/* Grouping selector */
#about, #specialties {
	font-family: 'Courier New', Courier, monospace;
}

/* Child combinator */
#about > aside > small {
	font-style: italic;
}

/* Next-sibling combinator */
h2 + blockquote {
	font-size: 2px;
}

/* Subsequent combinator */
header ~ aside {
	font-weight: bold;
}

/* Child-indexed pseudo-classes */
#specialties li:nth-child(2n+2) {
	font-weight: bold;
}

/* User action pseudo-classes */
a:visited {
	color: #b6b915;
}

/* Input pseudo-classes */
input:focus, select:focus, textarea:focus {
	outline: 2px solid #1598b9;
}

/* Negation pseudo-classes */
section:not(#skills) {
	font-style: italic;
}

/* Pseudo-elements */
p::first-letter {
	font-weight: bold;
}

/* Box position */
header {
	position: sticky;
	top: 15px;
}

/* Visibility */
#skills .resume-list li:nth-child(even) {
	visibility: hidden;
}

/* Z-index */
#specialties ul li:first-of-type {
	z-index: 1;

	position: absolute;
	top: 0;

	padding: 20px;
	background-color: #1598b9;
}
